header {
  width: 100%;
  background-color: gray;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}

.city-searches {
  background-color: lightgray;
  padding: 20px;
  margin-top: -8px;
}

.city-choice {
  padding: 0px 0px 0px 20px;
  border: gray;
}

.city-days {
  padding: 0px 0px 0px 20px;
}
